name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install packages
        run: yarn install

      - name: Run Typescript Checks
        run: yarn lint


  test_ts:
    environment: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}  
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Yarn install
      run: yarn install

    - name: Yarn test
      run: yarn test
      env:
        DB_TEST_URL: ${{ secrets.DB_TEST_URL }}
        NODE_ENV: test
        HTTP_PORT: 8080
        HTTPS_PORT: 8443


  build:
    needs: [lint, test_ts]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install packages
        run: yarn install

      - name: Compile typescript
        run: yarn build


  test_js:
    needs: build
    environment: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install packages
        run: yarn install

      - name: Compile typescript
        run: yarn build

      - name: Test javascript
        run: yarn test-js
        env:
          DB_TEST_URL: ${{ secrets.DB_TEST_URL }}
          NODE_ENV: test
          HTTP_PORT: 8080
          HTTPS_PORT: 8443

  dockerize:
    needs: [test_js]
    environment: production
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        env:
          DB_URL: ${{ secrets.DB_URL }}
          NODE_ENV: production
          HTTP_PORT: 8080
          HTTPS_PORT: 8443

      - name: DockerHub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: andreamatt/sxl_challenges:latest
          secrets: |
            "DB_URL=${{ secrets.DB_URL }}"
            "NODE_ENV=production"
